POKE_ROM_PATH=roms/pokemon_red.gb
POKE_PHASE=phase1
POKE_STATES_DIR=states
POKE_SYMBOLS_PATH=
POKE_WINDOW=null
POKE_OBSERVATION_MODE=multi
POKE_FRAME_STACKS=3
POKE_ACTION_FRAMES=12
POKE_MANUAL_ACTION_FRAMES=12
POKE_MANUAL_WAIT_FRAMES=12
POKE_MANUAL_DIALOG_WAIT_FRAMES=45
POKE_MANUAL_PRINT_EVERY=0
POKE_ROM_TEST_ACTION_FRAMES=12
POKE_ROM_TEST_WAIT_FRAMES=12
POKE_ROM_TEST_DIALOG_WAIT_FRAMES=60
POKE_DIALOG_PROBE_EVERY=30
POKE_WARMUP_FRAMES=0
POKE_TIMESTEPS=100000
POKE_N_ENVS=1
POKE_VEC_ENV=dummy
POKE_MAX_NO_PROGRESS_STEPS=200
POKE_REWARD_SCALE=1.0
POKE_PPO_N_STEPS=512
POKE_PPO_BATCH_SIZE=256
POKE_RUNS_DIR=runs
