POKE_ROM_PATH=roms/pokemon_red.gb
POKE_STATE_PATH=
POKE_SYMBOLS_PATH=
POKE_WINDOW=null
POKE_OBSERVATION_MODE=multi
POKE_FRAME_STACKS=3
POKE_ACTION_FRAMES=12
POKE_WARMUP_FRAMES=120
POKE_TIMESTEPS=100000
POKE_N_ENVS=1
POKE_VEC_ENV=dummy
POKE_MAX_STEPS=163840
POKE_MAX_NO_PROGRESS_STEPS=2000
POKE_REWARD_SCALE=0.5
POKE_EXPLORE_WEIGHT=0.25
POKE_PPO_N_STEPS=2048
POKE_PPO_BATCH_SIZE=512
POKE_RUNS_DIR=runs
